
body {
  background-color: #404040;
  font-family: 'Ubuntu Mono', monospace;
}

h1 {
  text-align: center;
  color: white;
}

p {
  text-align: left;
  color: white;
  padding: 0.25in;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end 1s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

li {
  color: white;
}

ol {
  background: white
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  border-radius: 5px;
  border: 2px solid #333;
  overflow: hidden;
  margin: 0.25in;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5in 0.5in;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
