header {
  background-image: url("background.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  background-color: #404040;
  font-family: 'Ubuntu Mono', monospace;
}

h1 {
  text-align: center;
  color: white;
}

p {
  text-align: left;
  color: white;
  padding: 0.25in;
}

li {
  color: white;
}

ol {
  background: white
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  border-radius: 5px;
  border: 2px solid #333;
  overflow: hidden;
  margin: 0.25in;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5in 0.5in;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 50px;
  border: 2px solid #333;
}
