body {
  background-color: #00000;
  font-family: 'Ubuntu Mono', monospace;
}

h1 {
  text-align: center;
  color: white;
}

p {
  text-align: left;
  color: white;
  padding: 0.25in;
}

li {
  color: white;
}

